
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="booyah-box col-10 offset-1">
  <h1> Add a new post </h1>
    <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= form.file_field :image %>
    <%= f.input :description %>
        <br />
      <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  <% end %>
</div>








<% end %>




