
<body> 
<div class="skewed-header">
    <div class="header-bg" style="background-image: url(<%= image_path "dariusz-sankowski-mj2NwYH3wBA-unsplash.jpg"%>)"> </div>
        <div class="skewed-header-wrapper">
            <div class= "skewed-header-content">
            <div class="heading-wrapper">
                <h1> About us </h1>
                </div>
                    <div class="links-wrapper">
                    <div class ="placeholder-space-left">
                </div>

                <div class="nav-item-1">
                        <i class="far fa-heart"></i>
                    <%= link_to 'About', about_path, class: 'about-link' %>
                </div>

                <div class="nav-item-3">
                    <i class="fas fa-phone"></i>
                        <%= link_to 'Contact', contact_path, class: 'contact-link' %>
                </div>
                    <div class="placeholder-space-right">
                   
                        </div>
                    </div>
              </div>      
        </div>
    </div>
</div>

    <div class="page-container">
        <div class="content-wrapper">
       <%= image_tag ("nicolas-ladino-silva-o2DVsV2PnHE-unsplash.jpg"), id:'chef' %>

           <p> Lorem ipsum dolor amet next level YOLO cold-pressed, etsy iPhone food truck hella photo booth taiyaki glossier blog gastropub man braid austin drinking vinegar. Ugh microdosing distillery readymade. Pabst before they sold out master cleanse, craft beer cliche mixtape jean shorts. Retro pour-over brunch, marfa art party roof party ethical subway tile etsy next level.</p>

           <p>Lorem ipsum dolor amet affogato ugh seitan, kitsch paleo gastropub palo santo cliche kogi. 90's quinoa meggings williamsburg, messenger bag selvage humblebrag forage literally letterpress XOXO cloud bread. Everyday carry authentic meh, narwhal tilde man bun street art quinoa celiac. Food truck hella cold-pressed 3 wolf moon lumbersexual slow-carb air plant before they sold out tattooed put a bird on it palo santo fam. Church-key kitsch messenger bag ramps mumblecore cornhole cloud bread +1 seitan offal 8-bit. Stumptown 8-bit mixtape copper mug jianbing. Unicorn ugh blue bottle yuccie readymade, lumbersexual flexitarian mustache.

           Meh activated charcoal 90's synth whatever, jean shorts bicycle rights ennui semiotics street art schlitz portland. Taxidermy bespoke enamel pin paleo organic shabby chic. Portland vegan kitsch hot chicken pickled. +1 echo park polaroid drinking vinegar blue bottle. Palo santo meh franzen neutra tilde +1 you probably haven't heard of them vice brooklyn truffaut hoodie williamsburg before they sold out.</p>
        </div>
    </div>
<div class="footer-wrapper">

  
      <div class="footer-item-1">
        <%= link_to 'Home', root_path, class:'footer-root'%>
      </div>
  
      <div class="footer-item-2">
        <%= link_to 'New post', new_post_path, class:'footer-new-post' %>
      </div>
  
    <div class="footer-item-3">
      <%= link_to 'Contact', contact_path, class:'footer-contact' %>
    </div> 

    <div class="footer-item-4">
      <%= link_to 'About', about_path, class:'footer-about' %>
    </div>  


    <br />

    <div class="social-media-icons-wrapper">

      <a href='#'
        <i class="fab fa-twitter"></i>
      </a>

  
      <a href='#'
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href='#'
      <i class="fab fa-instagram"></i>
      </a>

      </div>

      <br />
      

    <div class="copyright-wrapper">
        &copy; PhotoDump &#124; All rights reserved
    </div>    
    </div>

    </body> 