
<br />
<br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<div class="container">
<div class="row">

  <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
  </a>
</div>
<br />
<br />
<div class="row">
  <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
  </a>
</div>
</div>


    <% @posts.each do |post| %>
       <a href="<%= post_url(post) %>"><%= image_tag(post.image.profile_size.url) %></a>
       <h2> <%= link_to post.title, post %> </h2>
       <%= post.description %>
       <br />
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
